@import 'font';
$ui_topHeaderBg: #1D3661;
$ui_headerMenuLinkColor: #ffffff;
$ui_headerMenuLinkColorHover: #9DBCDD;
$ui_headerMenuSecondLevelLinkColorHover: #186AA3;
$ui_dropMenuBg: #EFEFEF;
$ui_secondBgFront: #E9F4FF;
$ui_bgSearch: #45494B;
$ui_bgLanguage: #45494B;
$ui_casinoPromoBg: #EFEFEF;
$ui_casinoPromoCntBg: #FFFFFF;
$ui_borderColor: #EFEFEF;
$ui_readMoreColor: #1495BC;
$ui_readMoreColorHover: #356291;
$ui_btnPlayBg: #FAE228;
$ui_btnPlayBgHover: #FAC128;
$ui_searchSubmitBg: #186AA3;
$ui_languageBlockBg: #444;
$ui_languageIconsBg: #45494b;
$ui_tabBg: #FFFFFF;
$ui_tabTitleColor: #186aa3;
$ui_tabActiveBg: #EFEFEF;
$ui_sortPanelBg: #EFEFEF;
$ui_colorBottomBtn: #6D9BCC;
$ui_colorBottomHoverBtn: #444;
$ui_footerImgColor: #DDDDDD;
$ui_footerLinkColor: #FFF;
$ui_footerHoverLinkColor: #186AA3;
$ui_footerBottomBg: #000;
$ui_beforeFooterBottomBg: #1D1D1D;
$ui_kindBonusListBg: #9DBCDD;
$ui_kindBonusListColor: #FFFFFF;
$ui_colorPaging: #6D9BCC;
$ui_activePageBG: #6D9BCC;
$ui_activePageColor: #FFF;
$ui_hoverPageBG: #9DBCDD;
$ui_slotsFrontBG: #1591b5;
$ui_slotBG: #1d3661;

/** list casinos **/
$ui_casinoListItemBG: #FFF;
$ui_casinoListItemColor: #00112A;

/** search results **/
$searchResultBG: #E0F2FF;
$searchResultSpanColor: #186AA3;
$searchResultINColor: #DDDDDD;

/** paging **/
$ui_pageItemColor: #6D9BCC;
$ui_pageItemBG: #FFFFFF;
$ui_activePageItemBG: #9DBCDD;
$ui_activePageItemColor: #FFF;
$ui_pageItemHoverBG: #6D9BCC;
$ui_pageItemHoverColor: #FFFFFF;
$ui_pageBorderItemHoverBG: #9DBCDD;




$moreCasinoBTNBGHover: #e36284;
$moreCasinoBTNBG: #1ac2c2;
$tabsBg: #FFF;
$titleTabColor: #e36384;
$titleTabColorHover: #a5b1b8;
$titleTabBorderColor: #EFEFEF;